{% extends "base.html" %}
{% block title %}Модуль 2 – Таблицы исходных данных{% endblock %}
{% block content %}
<div class="container">
    <h2 class="mb-4">Таблица 1 – Исходные данные для расчёта экономической эффективности АРМ</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Наименование показателей</th>
                <th>Условное обозначение</th>
                <th>Единица измерения</th>
                <th>Без АРМ</th>
                <th>В условиях АРМ</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>1. Количество задач, решаемых за год</td><td>N<sub>з</sub></td><td>задач/год</td><td>50</td><td>50</td></tr>
            <tr><td>2. Трудоемкость обработки информации по одной задаче</td><td>t<sub>з</sub></td><td>час</td><td>20 чел/час</td><td>0.15 час (маш. времени)</td></tr>
            <tr><td>3. Количество документов-отчетов</td><td>N<sub>д</sub></td><td>шт./год</td><td>200</td><td>200</td></tr>
            <tr><td>4. Время печати одного документа-отчета</td><td>t<sub>д</sub></td><td>час</td><td>3 чел./час</td><td>0.1 чел./час (маш. времени)</td></tr>
            <tr><td>5. Стоимость одного часа машинного времени</td><td>С<sub>м</sub></td><td>руб.</td><td>-</td><td>150</td></tr>
            <tr><td>6. Сметная стоимость КТС</td><td>Р<sub>ктс</sub></td><td>руб.</td><td>-</td><td>108500</td></tr>
            <tr><td colspan="4">7. Эксплуатационные расходы на функционирование АРМ (% от сметной стоимости)</td><td></td></tr>
            <tr><td>&nbsp;&nbsp;- амортизация 5 %</td><td></td><td>руб.</td><td></td><td>5425</td></tr>
            <tr><td>&nbsp;&nbsp;- текущий ремонт 2 %</td><td></td><td>руб.</td><td></td><td>2170</td></tr>
            <tr><td>&nbsp;&nbsp;- содержание оборудования 2,5 %</td><td></td><td>руб.</td><td></td><td>2712.5</td></tr>
            <tr><td><strong>ИТОГО:</strong></td><td>И<sub>ктс</sub></td><td>руб.</td><td></td><td><strong>10307.5</strong></td></tr>
            <tr><td>8. Удельная стоимость трудозатрат одной машинистки</td><td>С<sub>мм</sub></td><td>руб./чел.-час</td><td>33</td><td>-</td></tr>
            <tr><td>9. Удельная стоимость трудозатрат специалиста отдела</td><td>С<sub>с</sub></td><td>руб./чел.-час</td><td>67</td><td>-</td></tr>
            <tr><td>10. Время создания базы данных (БД)</td><td>t<sub>бд</sub></td><td>час маш. вр.</td><td>-</td><td>4</td></tr>
            <tr><td>11. Время отладки и ввода АРМ</td><td>t<sub>вв</sub></td><td>час маш. вр</td><td>-</td><td>4</td></tr>
            <tr><td colspan="4">12. Высвобождение одной штатной единицы секретаря-машинистки</td><td></td></tr>
            <tr><td>&nbsp;&nbsp;- зарплата</td><td></td><td>руб.</td><td>5 000</td><td>-</td></tr>
            <tr><td>&nbsp;&nbsp;- единые социальные отчисления (34 %)</td><td></td><td>руб.</td><td>1 700</td><td>-</td></tr>
            <tr><td><strong>ИТОГО:</strong></td><td></td><td>руб.</td><td><strong>6 700</strong></td><td>-</td></tr>
            <tr><td>13. Программный продукт</td><td>n</td><td>тыс. исх. команд</td><td>-</td><td>1</td></tr>
            <tr><td>14. Удельная стоимость трудодня программиста</td><td>С<sub>пр</sub></td><td>руб.</td><td>200</td><td>200</td></tr>
            <tr><td>15. Период функционирования АРМ</td><td>T</td><td>лет</td><td>-</td><td>3</td></tr>
        </tbody>
    </table>

    <h3 class="mt-5">Таблица 2 – Коэффициенты приведения разновременных затрат к расчётному году</h3>
    <div class="row">
        <div class="col-md-6">
            <h5>Годы, предшествующие расчётному</h5>
            <table class="table table-bordered">
                <thead><tr><th>Число лет</th><th>α</th></tr></thead>
                <tbody>
                    <tr><td>1</td><td>1.100</td></tr>
                    <tr><td>2</td><td>1.210</td></tr>
                    <tr><td>3</td><td>1.331</td></tr>
                    <tr><td>4</td><td>1.464</td></tr>
                    <tr><td>5</td><td>1.611</td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h5>Годы, следующие за расчётным</h5>
            <table class="table table-bordered">
                <thead><tr><th>Число лет</th><th>α</th></tr></thead>
                <tbody>
                    <tr><td>1</td><td>0.9091</td></tr>
                    <tr><td>2</td><td>0.8264</td></tr>
                    <tr><td>3</td><td>0.7513</td></tr>
                    <tr><td>4</td><td>0.6830</td></tr>
                    <tr><td>5</td><td>0.6209</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <p class="text-muted">* Для расчётного года (0) α = 1.0000</p>
</div>
{% endblock %}